.idea/
*.iml
.DS_Store
target/
.settings/org.eclipse.jdt.core.prefs
.classpath
.project
log/
jdbc-drivers/*

# Ignore the files copied from web-app build
src/main/resources/static

release/
poli.db
pb_data/